{
  "parser"  : "babel-eslint",
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": false
    }
  },
  "plugins" : [
    "flow-vars"
  ],
  "env"     : {
    "browser" : true,
    "mocha": true,
  },
  "rules": {
    "no-empty-label": 0,
    "space-before-keywords": 0,
    "space-after-keywords": 0,
    "space-return-throw-case": 0,
    "no-iterator": 0
  }
}
